.c-button {
	display: inline-block;
	color: inherit;
	background-color: var(--color--grey--50);
	text-align: center;
	vertical-align: baseline;
	font: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-decoration: none;
	border: none;
	border-radius: var(--border-radius--small);
	margin: 0;
	padding: 5px 10px;
	cursor: pointer;
	transition: background-color 0.2;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;

	&.is-primary {
		color: #fff;
		background-color: var(--color--brand--primary);
	}

	&.is-link {
		color: var(--color--brand--primary);
		background: transparent;
		padding: 0;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&.is-destructive {
		color: #fff;

		&:not(.is-link) {
			background-color: var(--color--error--text);
		}

		&.is-link {
			color: var(--color--error--text);
		}
	}

	&[disabled] {
		opacity: 0.4;
		pointer-events: none;
	}
}
