.c-radio-control {
	padding-left: calc(1rem + 6px);
}

.c-radio-control__input {
	width: 1rem;
	height: 1rem;
	margin: 0 6px 0 calc(-1rem - 6px);
}

.c-radio-control__label {
	font-weight: var(--font--weight--normal);
}
